CHANGES
*.a
*.mex*
*.o
.deps
/a.out.dSYM
/aclocal.m4
/autom4te.cache
/build
/config.*
/configure
/depcomp
/doc/test.cfg
/doc/latex-pre.inc
/doc/malheur.man
/doc/malheur.pdf
/doc/malheur.pod
/install-sh
/libtool
/ltmain.sh
/m4
/malheur-*.tar.gz
/malheur.xcodeproj
/malheur.komodoproject
/missing
/src/malheur
/stamp-h1
/tests/test_*
Makefile
Makefile.in
src/malheur.h
malheur.komodoproject