*.a
*.mex*
*.o
.deps
/a.out.dSYM
/aclocal.m4
/autom4te.cache
/build
/compile
/config.*
/configure
/depcomp
/doc/latex-pre.inc
/doc/malheur.man
/doc/malheur.pdf
/doc/malheur.pod
/doc/malheur.txt
/doc/test.cfg
/install-sh
/libtool
/ltmain.sh
/m4
/malheur-*.tar.gz
/missing
/src/malheur
/stamp-h1
/tests/test_*
CHANGES
Makefile
Makefile.in
src/malheur.h
test-driver
tests/*.log
