#
# MALHEUR - Automatic Malware Analysis on Steroids
# Copyright (c) 2009 Konrad Rieck (rieck@cs.tu-berlin.de)
# Berlin Institute of Technology (TU Berlin).
#

# Input configuration
input = {
    # Format of input data ("text", "mist")
    format           = "mist";
    # Level of MIST preprocessing (1 to 4)
    mist_level       = 2;
    # Maximum report length (to ignore 0) 
    mist_rlen        = 0;
    # Maximum thread length (to ignore 0)
    mist_tlen        = 0;
};

# Feature configuration
features = {
    # Delimiters for malware instructions or "" for bytes
    ngram_delim      = "%20%0a%0d";
    # Length of n-grams for malware instructions (1 to n)
    ngram_len        = 2; 
    # Embedding of n-grams in feature space ("cnt", "bin")
    vect_embed       = "bin";
};

# Prototype configuration
prototypes = {
    # Maximum distance to prototypes (0 to 1.41)
    max_dist         = 0.65;
    # Maximum number of prototypes (to ignore 0)
    max_num          = 0;
    # Determine best prototypes using multiple repeats (1 to n)
    repeats          = 5; 
};

# Classification configuration
classify = {
    # Maximum distance to prototypes (0 to 1.41)
    max_dist        = 0.68;
};

# Clustering configuration
cluster = {
    # Minimum distance between clusters (0 to 1.41)
    min_dist        = 0.95;
    # Rejection threshold for small clusters (0 to n)
    reject_num      = 10;
};
